.serfs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serf {
    flex-basis: 45%; /* Two columns for 0-780px */
    margin: 0.5rem;
}

.serf__prop {
    flex: 1;
}

.serf__image {
    width: 150px;
    border-radius: 50%;
}

.serf__title {
    color: #999;
    font-size: 18px;
    margin: 0;
}

.serf__email {
    color: #999;
    font-size: 0.9rem; /* Default for 0-780px */
}

.serf__name {
    color: #2c2e31;
    font-size: 1.7rem;
    margin: 5px;
    text-transform: capitalize;
    flex-grow: 1;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    position: relative;
    padding: 1rem 0;
    flex-basis: 45%; /* Two columns for 0-780px */
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 50%);
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.user_photo {
    position: relative;
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,.25);
}

.horizontal_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mission {
    font-size: 1.3rem;
    margin: 2rem 10%;
}

/* 781 - 900px */
@media (min-width: 781px) and (max-width: 900px) {
    .serf,
    .card {
        flex-basis: 45%; /* Two columns */
    }

    .serf__email {
        font-size: 1.1rem;
    }
}

/* 901 - 1380px */
@media (min-width: 901px) and (max-width: 1380px) {
    .serf,
    .card {
        flex-basis: 30%; /* Three columns */
    }

    .serf__email {
        font-size: 1.25rem;
    }
}

/* 1381 - max */
@media (min-width: 1381px) {
    .serf,
    .card {
        flex-basis: 22%; /* Four columns (approx for 4) */
    }

    .serf__email {
        font-size: 1.25rem;
    }
}